---
layout: default
title: adwm :3
description: lit autist

pronouns: idk/lol
location: wouldnt u want to kno xDDD

youtube: adwm
discord: frottingfiend
twitter: wishwemet
email: farts@poop.net
steam: -met
---

<title>{{ page.title }}</title>

<header>
  <h1 class="header-title" id="name">{{ page.title }}</h1>
  <span id="pronouns">({{ page.pronouns }})</span>
  <p class="header-description">{{ page.description }}</p>
  <ul class="header-links">
    <li>
      <a href="/blog/" title="Blog">Blog</a>
    </li>
    <li>
      <a href="https://youtube.com/@{{ page.youtube }}" title="YouTube" target="_blank" rel="noreferrer">YouTube</a>
    </li>
    <li>
      <a href="https://discord.com/users/{{ page.discord }}" title="Discord" target="_blank"
        rel="noreferrer">Discord</a>
    </li>
    <li>
      <a href="https://steamcommunity.com/id/{{ page.steam }}" title="Steam" target="_blank" rel="noreferrer">Steam</a>
    </li>
    <li id="last-item">
      <a href="https://x.com/{{ page.twitter }}" title="X/Twitter" target="_blank" rel="noreferrer">Twitter</a>
    </li>
  </ul>
</header>

<main>
  <!-- List of post -->
  <h2 class="title">Latest Post</h2>
  <div id="post-list">
    {% for post in site.posts limit:1 %}
    <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
    <p class="post-description">{{ post.description }}</p>
    <p class="post-date">{{ post.date | date: "%B %d, %Y" }} by {{ post.author }}</p>
    <hr />
    {% endfor %}
  </div>

  <!-- About -->
  <div id="about">
    <h2 class="title">About</h2>
    <p>
      pro gamer/drainer
	</p>
	<p>
	  top 500 in cs val ow2 minecraft and tf2<br>
	  been on drain gang since i was 12 (2019)<br>
	  overall real ass nigga
    </p>

    <p>
      i also like making youtube videos from game clips
	  dm me if u want me to make ue one :d
    </p>
  </div>

  <!-- List of projects -->
  <h2 class="title">cool stuff</h2>
  <div id="post-list">
    {% for project in site.projects %}
    <a class="post-title" href="{{ project.link }}">{{ project.name }}</a>
    <p class="post-description">{{ project.description }}</p>
    <em class="post-date">{{ project.technologies }}</em>
    <hr />
    {% endfor %}
  </div>

  <!-- List of projects -->
  <h2 class="title">Webring</h2>
  <div id="webring-list">
    {% for ring in site.webring %}
    <a href="{{ ring.link }}" title="{{ ring.name }}" class="webring-image" target="_blank" rel="noreferrer">
      <img src="{{ site.baseurl }}/assets/images/webring/{{ ring.file }}" alt="{{ ring.name }}" title="{{ ring.name }}"
        width="88px" height="31px" />
    </a>
    {% endfor %}
  </div>
</main>
